@media  screen and (max-width: 767px){
    .navigation{
        display: none;
    } 
    .search-form{
        display: none;
    } 
    .switcher{
        display: none;
    } 
    .mobile__menu{
        display: none;
    } 
    .header-box{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .burger{
        background-color: transparent;
        border: none;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .navigation{
        display: none;
    } 
    .switcher{
        display: none;
    } 
    .mobile__menu{
        display: none;
    } 
    .header-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .burger{
        background-color: transparent; 
        border: none;
    }
    .logo{
        @include font-size(400, 28px, 0.86, 0.02em)
    }
   
}

@media screen and (min-width: 1200px){
    .header-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .tablet__menu{
        display: none;

    }
    .mobile__menu{
        display: none;
    }
    .mobile-navigation__list{
        display: none;
    }
    .logo{
        @include font-size(400, 28px, 0.86, 0.02em)
    }
    .navigation{
        @include page-titles-style;
        @include font-size(400, 18px, 1.33, 0.02em);
        color: $text-color;
    }
    .navigation__list{
        display: flex;
        gap: 60px;
    }
    .search-input{
        width: 288px;
        height: 40px;
        border-color: $primary-color;
    }
}

.logo{
    color: $primary-color;
    @include page-titles-style;
    @include font-size(400, 22px, 1.09, 0.02em);
}
.mobile-navigation__link{
    @include page-titles-style;
    @include font-size(400, 28px, 0.86, 0.02em);
    color: $text-color;
}
.switcher{
    display: flex;
    gap: 12px;
}























/* @include font-size(900, 26px, 1.62, 0.06em);  */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 0.604701px solid #FD5103;;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    top: 2px;
    background-color: #FD5103;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #fff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #fff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }