.modal-ingredient-opened {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.modal-ingredient {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: $timing-function;
    border: 1px solid black;
    z-index: 300;
   

    background-color: white;
    min-width: 320px;
    // max-width: 80%;
    min-height: 600px;
    padding: 32px 15px 15px;

    max-height: 100vh;
    overflow-y: auto;

    @media screen and (min-width: $tablet) {
        min-width: 822px;
        padding: 40px 28px 28px;
    }

    @media screen and (min-width: $desktop) {
        min-width: 866px;
    }

}

.modal-ingredient.active {
    transform: translate(-50%, -50%) scale(1);
}


#overlay-ingredient {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(206, 29, 29, 0.5);
    pointer-events: none;
}

#overlay-ingredient.active {
    opacity: 1;
    pointer-events: all;
    z-index: 2;
}