.title_ingredients, .title_cocktails {
    margin-top: 40px;
    margin-bottom: 60px;
    @include page-titles-style;
    @include font-size(600, 22px, 1.9);
    text-align: center;
    color: $text-color;
    @media screen and (min-width: $tablet) {
        margin-top: 20px;
        margin-bottom: 75px;
        @include title-products-style;
        @include font-size(700, 32px, 1.19);
    }
    @media screen and (min-width: $desktop) {
        margin-top: 32px;
        margin-bottom: 60px;
        @include page-titles-style;
        @include font-size(700, 48px, 1.5);
    }
}
.gallery__list__ingredient {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  
    @media screen and(min-width: $tablet) {
      gap: 32px;
    }
  
    @media screen and(min-width: $desktop) {
      margin-left: -17px;
      margin-right: -17px;
    }
  }
.gallery__ingredient {
    margin: 20px;
    @include title-products-style;
    @include font-size(900, 26px, 1.61);
    color: $text-color;
    @media screen and (min-width: $tablet) {
        margin-bottom: 28px;
        @include font-size(900, 28px, 1.18);
        color: #000000;
    }
    @media screen and (min-width: $desktop) {
        margin-top: 32px;
        margin-bottom: 60px;
        @include font-size(900, 32px, 1.19);
        color: $text-color;
    }
}
.gallery__desc {
    margin-left: 20px;
    @include page-titles-style;
    @include font-size(600, 14px, 1.5);
    text-transform: uppercase;
    color: #000000;
    @media screen and (min-width: $tablet) {
        margin-bottom: 20px;
        @include font-size(600, 16px, 1.5);
        color: $secondary-background-color;
    }
}