<div class="modal" id="modal">
  <div class="modal__header">
    <div class="modal__title">Example Modal</div>
    <button data-close-button class="modal__close-button"></button>
  </div>
  <div class="modal__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio hic sunt architecto, sit
    autem optio non qui praesentium dicta aut odit quod enim in voluptatibus molestiae itaque et
    illo omnis blanditiis! Porro repudiandae veniam possimus unde quae consequatur, asperiores fuga
    nihil eligendi eveniet pariatur tempore sapiente ducimus! Inventore animi incidunt nemo pariatur
    nisi ea laboriosam velit culpa, sint ab magni. Odit pariatur magnam amet rem eos non ratione
    alias totam odio voluptate dicta dignissimos natus tempore ullam quia, qui minus.
  </div>
</div>

<div id="overlay"></div>
