<section class="gallery">
  <div class="gallery__wrap container">
    <h2 class="gallery__title">Cocktails</h2>
    <ul class="gallery__list">
      <!-- Разметка для JS -->
      <li class="gallery__item">
        <img class="gallery__img" src="#" alt="" width="280" />
        <div class="gallery__thumb">
          <p class="gallery__text">Cocktail title</p>
          <button class="gallery__info-btn btn" type="button" data-modal-target="#modal">
            Learn more
          </button>
          <button class="gallery__add-btn btn" type="button">Remove</button>
        </div>
        <!--  -->
      </li>
    </ul>
  </div>
</section>
