<section class="container hero">
    <h1 class="hero_title">A party without cocktails 
        is not like a party</h1>
    <picture>
        <source
            srcset="
            ../images/hero_img_mobile.png 1x,
            ../images/hero_img_mobile.png@2x 2x
            "
            media="(max-width: 767px)"
        />
        <source
            srcset="
            ../images/hero_img_tablet.png 1x,
            ../images/hero_img_tablet@2x.png 2x
            "
            media="(max-width: 1199px)"
        />
        <source
            srcset="
            ../images/hero_img_desktop.png 1x,
            ../images/hero_img_desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
        />
        <img
            src="../images/hero_img_mobile.png"
            alt="Cocktail"
            class="hero_img"
        />
    </picture>
    <p class="hero_desc">Search your favorite cocktail by ABC </p>
    <input type="text" class="hero_search_coctails">
    <ul class="hero_list">
        <li class="hero_item">A</li>
        <li class="hero_item">B</li>
        <li class="hero_item">C</li>
        <li class="hero_item">D</li>
        <li class="hero_item">E</li>
        <li class="hero_item">F</li>
        <li class="hero_item">G</li>
        <li class="hero_item">H</li>
        <li class="hero_item">I</li>
        <li class="hero_item">J</li>
        <li class="hero_item">K</li>
        <li class="hero_item">L</li>
        <li class="hero_item">M</li>
        <li class="hero_item">N</li>
        <li class="hero_item">O</li>
        <li class="hero_item">P</li>
        <li class="hero_item">Q</li>
        <li class="hero_item">R</li>
        <li class="hero_item">S</li>
        <li class="hero_item">T</li>
        <li class="hero_item">U</li>
        <li class="hero_item">V</li>
        <li class="hero_item">W</li>
        <li class="hero_item">X</li>
        <li class="hero_item">Y</li>
        <li class="hero_item">Z</li>
        <li class="hero_item">1</li>
        <li class="hero_item">2</li>
        <li class="hero_item">3</li>
        <li class="hero_item">4</li>
        <li class="hero_item">5</li>
        <li class="hero_item">6</li>
        <li class="hero_item">7</li>
        <li class="hero_item">8</li>
        <li class="hero_item">9</li>
        <li class="hero_item">0</li>
    </ul>
</section>