<section class="hero">
    <div class="container hero_wrapper">
        <h1 class="hero_title">A party without cocktails 
            is not like a party</h1>
        <img src="./hero_img/hero_img_mobile.png" alt="" class="hero_img">
        <p class="hero_desc">Search your favorite cocktail by ABC </p>
        <input type="text" class="hero_search_coctails">
        <ul class="hero_list">
            <li class="hero_item"><a href="" class="hero_link">A</a></li>
            <li class="hero_item"><a href="" class="hero_link">B</a></li>
            <li class="hero_item"><a href="" class="hero_link">C</a></li>
            <li class="hero_item"><a href="" class="hero_link">D</a></li>
            <li class="hero_item"><a href="" class="hero_link">E</a></li>
            <li class="hero_item"><a href="" class="hero_link">F</a></li>
            <li class="hero_item"><a href="" class="hero_link">G</a></li>
            <li class="hero_item"><a href="" class="hero_link">H</a></li>
            <li class="hero_item"><a href="" class="hero_link">I</a></li>
            <li class="hero_item"><a href="" class="hero_link">J</a></li>
            <li class="hero_item"><a href="" class="hero_link">K</a></li>
            <li class="hero_item"><a href="" class="hero_link">L</a></li>
            <li class="hero_item"><a href="" class="hero_link">M</a></li>
            <li class="hero_item"><a href="" class="hero_link">N</a></li>
            <li class="hero_item"><a href="" class="hero_link">O</a></li>
            <li class="hero_item"><a href="" class="hero_link">P</a></li>
            <li class="hero_item"><a href="" class="hero_link">Q</a></li>
            <li class="hero_item"><a href="" class="hero_link">R</a></li>
            <li class="hero_item"><a href="" class="hero_link">S</a></li>
            <li class="hero_item"><a href="" class="hero_link">T</a></li>
            <li class="hero_item"><a href="" class="hero_link">U</a></li>
            <li class="hero_item"><a href="" class="hero_link">V</a></li>
            <li class="hero_item"><a href="" class="hero_link">W</a></li>
            <li class="hero_item"><a href="" class="hero_link">X</a></li>
            <li class="hero_item"><a href="" class="hero_link">Y</a></li>
            <li class="hero_item"><a href="" class="hero_link">Z</a></li>
            <li class="hero_item"><a href="" class="hero_link">1</a></li>
            <li class="hero_item"><a href="" class="hero_link">2</a></li>
            <li class="hero_item"><a href="" class="hero_link">3</a></li>
            <li class="hero_item"><a href="" class="hero_link">4</a></li>
            <li class="hero_item"><a href="" class="hero_link">5</a></li>
            <li class="hero_item"><a href="" class="hero_link">6</a></li>
            <li class="hero_item"><a href="" class="hero_link">7</a></li>
            <li class="hero_item"><a href="" class="hero_link">8</a></li>
            <li class="hero_item"><a href="" class="hero_link">9</a></li>
            <li class="hero_item"><a href="" class="hero_link">0</a></li>
        </ul>
    </div>
</section>